<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">AMS</label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/edit">Edit prfile</a></li>
        <li><a href="/admin">Admin panel</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
