<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
{{>admin_navbar}}
    <h1>Users List</h1>
    <div class="container">
        <table class="customers">
            {{#each users}}
            <tr>
                <td class="name"> {{this.name}} </td>
                <td >{{this.email}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>
    <script src="js/navbar.js"></script>
</html>




