<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup page</title>
    <link rel="stylesheet" href="css/login_signup.css">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Login Form</div>
            <div class="title signup">
                Signup Form</div>
        </div>
        <div>
        {{#if message}}
            <div class="field" style="text-align:center;">
                {{message}}    
            </div>
        {{/if}}
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slider-tab">
                </div>
            </div>
            <div class="form-inner">
                <form action="/login" method="post" class="login">
                    <div class="field">
                        <input type="email" placeholder="Email Address" name="email" id="email" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" name="password" id="password" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer">
                        </div>
                        <input type="submit" value="Login" >
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="">Signup now</a></div>
                </form>
                <form action="/register" enctype="multipart/form-data" method="post" class="signup">
                    <div class="field">
                        <input type="text" placeholder="Name" name="name" id="name" required>
                    </div>
                    <div class="field">
                        <input type="email" placeholder="Email Address" name="email" id="email" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" name="password" id="password" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm password" name="confirmpassword" id="confirmpassword" required>
                    </div>
                    <div class="field">
                        <input type="file" name="image" id="image" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer">
                        </div>
                        <input type="submit" value="Signup" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/login_signup.js"></script>
</body>
</html>